# Example .env file. To use this:
#   1) Make a copy of this file and save it as .env
#   2) Set the environment variables below appropriately
# This uses the dotenv module for configuration:
#   https://github.com/motdotla/dotenv
# NOTE: This does not override properties - if they are already set, it will leave them alone!
USE_DYNAMO=false
AWS_ACCESS_KEY_ID=AccessKey
AWS_SECRET_ACCESS_KEY=SecretAccessKey
AWS_DEFAULT_REGION=us-east-1
RSS_URL=http://feeds.soundcloud.com/users/soundcloud:users:238643239/sounds.rss